name: Release

on:
  release:
    types: [published]

jobs:
  release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Get version
        id: version
        uses: home-assistant/actions/helpers/version@master

      - name: Update version in manifest.json
        run: |
          sed -i 's/"version": ".*"/"version": "${{ steps.version.outputs.version }}"/' custom_components/teltonika_eye/manifest.json

      - name: Create zip
        run: |
          cd custom_components/teltonika_eye
          zip -r ../../teltonika_eye.zip .

      - name: Upload zip to release
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: ./teltonika_eye.zip
          asset_name: teltonika_eye.zip
          asset_content_type: application/zip